[submodule "external/weaviate"]
	path = external/weaviate
	url = https://github.com/weaviate/weaviate.git
[submodule "external/open-webui"]
	path = external/open-webui
	url = https://github.com/open-webui/open-webui.git
